@import "tailwindcss";

@theme {
  --color-dark: #111111;
  --color-primary: #1d2745;
  --color-secondary: #1de5d4;
  --color-tertiary: #f52c50;
  --color-white: #ffffff;
  --color-mono100: #f1f1f1;
  --color-mono200: #bebebe;
  --color-mono300: #d6d7d9;
  --color-error: #d01e1e;
  --color-social: #395997;
  --radius-primary-button: 5px;
  --radius-tag-button: 17.5px;
}

@layer base {
  body {
    font-family: "Noto Sans KR";
  }
}

@layer components {
  .text-field > p {
    @apply absolute;
  }
  .navigation-title-wrapper button {
    @apply mr-[7px];
  }
}

@layer utilities {
  .text-xs {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0px;
    font-weight: 400;
  }
  .text-sm {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0px;
    font-weight: 400;
  }
  .text-xl {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0px;
    font-weight: 600;
  }
  .text-2xl {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0px;
    font-weight: 700;
  }
}
